@import url("https://fonts.googleapis.com/css?family=Signika");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.padded-row {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.spaced {
	margin-right: 5px;
}

.bounded-row {
	margin-bottom: 20px;
}

.navbar-inverse {
	height: 70px;
	padding-top: 12px;
	border-radius: 0;
}

.navbar-inverse .action-icon-holder {
	padding-top: 8px;
}

.navbar-inverse .action-icon-holder a {
	color: white;
	font-size: 1.8em;
	padding: 0 5px;
}

.navbar-inverse .navbar-brand {
	font-family: 'Signika', sans-serif;
	color: white;
	padding-top: 0;
	font-size: 1.6em;
}

.navbar-inverse .navbar-brand img {
	display: inline-block;
	padding-right: 5px;
}

.navbar {
	background-color: #2c3d4f;
}

#sidebar {
	padding: 20px 0 0 0;
	width: 250px;
	position: fixed;
	background-color: #f5f5f5;
	height: 100%;
}

#sidebar .sidebar-list {
	list-style-type: none;
	padding: 10px 0px;
}

#sidebar .sidebar-list .sidebar-list-item {
	padding: 15px 25px;
}

#sidebar .sidebar-list .sidebar-list-item .glyphicon {
	font-size: 1.3em;
}

#sidebar #user-info-card {
	padding: 0 25px 25px 25px;
	border-bottom: 1px solid #ddd;
}

#tab-menu li {
	display: table-cell;
	float: none;
}

#tab-menu .glyphicon {
	font-size: 1.5em;
}

#tab-menu small {
	display: block;
}

#content-div {
	padding-left: 10px;
	padding-top: 6px;
	padding-right: 10px;
}

#main-body-div {
	height: 100%;
	margin-top: 70px;
}

nav.navbar {
	margin-bottom: 0;
}

nav.navbar .navbar-header {
	float: left;
}

table {
	table-layout: fixed;
	width: 100%;
	text-align: center;
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0;
}

table td {
	width: 20%;
}

table td a {
	padding: 10px 0;
	display: block;
}

a > li.sidebar-list-item.active {
	background-color: #337ab7;
	color: white;
}

#tab-menu td.active {
	background-color: #337ab7;
}

#tab-menu td.active a {
	color: white;
}

.glyphicon-huge {
	font-size: 4em;
	margin: auto auto;
}

.notification-body {
	display: inline-block;
}

.list-group-item button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.card-holder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.card-holder .panel {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	margin: 10px 15px;
	border-color: #2c3d4f;
	color: white;
}

.card-holder .panel .panel-body {
	text-align: center;
	height: 150px;
	line-height: 150px;
}

.card-holder .panel .panel-body .glyphicon {
	color: #2c3d4f;
}

.card-holder .panel .panel-footer {
	background-color: #2c3d4f;
	color: white;
}

#action-menu {
	position: absolute;
	display: none;
	top: 50px;
	right: 45px;
	z-index: 2000;
	width: 200px;
}

#action-menu a {
	display: block;
}

.action-icon-holder a {
	text-decoration: none;
}

@media (min-width: 768px) {
	#content-div {
		padding-left: 260px;
	}
}
